<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carzis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".notused.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".connect.DeviceListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/select_device"
            android:screenOrientation="landscape" />
        <activity
            android:name=".prefs.Prefs"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3e459c5883d795574754798ef84d5657881f1df6" />

        <activity
            android:name=".connect.ConnectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tutorial.TutorialActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".errorlist.ErrorListActivity" />
        <activity android:name=".mycarlist.MyCarListActivity" />
        <activity android:name=".checkcar.CheckCarActivity" />
        <activity android:name=".history.EmptyActivity" />
        <activity android:name=".profile.ProfileActivity"></activity>
    </application>

</manifest>