<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carzis">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:name=".CarzisApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".connect.DeviceListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/select_device"
            android:theme="@style/DialogTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".prefs.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppPreferenceTheme"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0631195dbe431418ca206095068d7f4781d8af1e" />

        <activity
            android:name=".notused.ConnectMainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".connect.ConnectActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".tutorial.TutorialActivity"
            android:windowSoftInputMode="stateHidden">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entry.LogRegActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".additionalscreen.AdditionalActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".history.HistoryActivity"
            android:screenOrientation="sensorLandscape" />

        <receiver android:name=".entry.register.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".pidlist.PidListActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialoglist.DialogListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/DialogTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".connect.ConnectionTypeActivity" />
        <activity android:name=".login.ForgetPasswordActivity" />
        <activity android:name=".login.CreateAccountActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".fileadd.LoadFileActivity" />
        <activity android:name=".connect.SelectModeActivity" />
        <activity android:name=".specialistmode.SpecialistActivity"></activity>
    </application>

</manifest>